MODEL_NAME=deepseek-ai/DeepSeek-OCR
NUM_GPUS=2
DPI=200
BASE_SIZE=1024
IMAGE_SIZE=640
CROP_MODE=true
OUTPUT_DIR=./output

MAIL_URL=http://apisvr.boranet.net:3300/api/v1/send
MAIL_API_KEY=your_api_key_here
